* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --p-surface-secondary: var(--p-surface-100);
  --p-text-primary: var(--p-surface-950);
  --p-text-secondary: var(--p-surface-900);
  --p-text-error: var(--p-red-500);
}

:root.dark {
  --p-surface-secondary: var(--p-surface-900);
  --p-text-primary: var(--p-surface-50);
  --p-text-secondary: var(--p-surface-100);
  --p-text-error: var(--p-red-500);
}

body {
  font-family: 'Khmer OS Battambang', 'Moul', 'Arial', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
